* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;


    /*
    color: #EDEDED;
    color: #444444;
    color:#171717;
    color:#DA0037
   color:#C92C6D;
    */
}

header img {
    width: 20vh;


}

.line {
    border-bottom: 1px solid #EDEDED;

}

main {
    min-height: 80vh;
}

.img {
    transform-origin: bottom right 60px;
}

.shadow {
    /* color:#C92C6D; */
    text-shadow: #C92C6D 1px 0 10px;
    font-family: 'Tourney', cursive;

}

footer {
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;

}

footer h2 {
    font-style: italic;
}

.btn-new,
.btn-secondary:hover {
    border: 1px solid #C92C6D;
    color: #C92C6D;
    background-color: transparent;

}

.btn-new:hover,
.btn-secondary {
    border: 1px solid #C92C6D;
    color: #EDEDED;
    background-color: #C92C6D;
}

.i_start {
    font-size: 40px;
}

.card-img-top {
    min-height: 168px;
    width: auto;
}

.card-title {
    font-family: 'Tourney', cursive;
    text-shadow: #C92C6D 1px 0 10px;
}

.card-group {
    border-radius: 8px;
    border: 1px solid #444444 !important;
    box-shadow: 7px 3px 28px 4px #C92C6D;
    -webkit-box-shadow: 7px 3px 28px 4px #C92C6D;
    -moz-box-shadow: 7px 3px 28px 4px #C92C6D;
}

.card {
    border: none;
}

.contact {
    max-width: 30vw;
}

.table .col,
.t-row {
    border-top: 0.1px solid #444444;
    border-left: 0.1px solid #444444;

    height: 2rem;
    font-size: .8rem;
    flex-wrap: wrap;

}

.table {
    border-bottom: 0.1px solid #C92C6D;
    border-right: 0.1px solid #C92C6D;

}

.t-row h4 {
    font-weight: 100;
    height: 1.5rem;
    color: #EDEDED;
    background-color: #444444;
    font-family: 'Tourney', cursive;
    flex-wrap: wrap;

}

.square {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #C92C6D;
    animation-name: brilloDos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    box-shadow: -8px -18px 20px 20px #C92C6D;
    -webkit-box-shadow: -8px -18px 20px 20px #C92C6D;
    -moz-box-shadow: -8px -18px 20px 20px #C92C6D;

}

.one {


    animation-name: brilloDos;
}

.two {

    animation-name: brilloTres;

}

.three {
    animation-name: brillo;

}





@keyframes brillo {
    0% {
        transform: scale(1.5);
    }

    30% {
        transform: scale(1.0);
    }

    68%,
    72% {
        transform: scale(0.50);
    }

    100% {
        transform: scale(0.0);
    }
}

@keyframes brilloDos {
    0% {
        transform: scale(0.0);
    }

    30% {
        transform: scale(.5);
    }

    68%,
    72% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes brilloTres {
    0% {
        transform: scale(1.0);
    }

    30% {
        transform: scale(0.0);
    }

    68%,
    72% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.5);
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;


}

/* .hidden{
    display: none;
} */


.row-details {
    border: 2px solid #C92C6D;
    display: flex;
    flex-wrap: wrap;
    background-color: #444444;


}


.container-details {
    /* padding: 10%; */

    margin-top: 10%;
    margin-bottom: 5%;
}

@media screen and (min-width: 1024px) {
    .card-text {
        max-height: 7vh;

    }

}
@media screen and (max-width: 1024px) {
    .scroller {
        height: 300px;
        overflow-y: none;
        scroll-snap-type: y mandatory;
    }
}

