*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    
    /*
    color: #EDEDED;
    color: #444444;
    color:#171717;
    color:#DA0037
   color:#C92C6D;
    */
}
header img{
    width: 30%;
   
    
}
.line{
    border-bottom: 1px solid #EDEDED;
}
main{
    min-height: 80vh;
}
/* .bilboard{
   min-height: 55vh; 
} */
footer{
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
   
}
footer i{
    color: #444444;;
}
.btn-new{
    border:1px solid #C92C6D;
    color: #C92C6D;
}
.btn-new:hover{
    border:1px solid #C92C6D;
    color: #EDEDED;
    background-color: #C92C6D;
}

.card-img-top{
    min-height: 168px;
    width: auto;
}
.contact{
    max-width: 30vw;
}
.table .col
{
    border: 2px solid  #C92C6D;
    height:4em;

}
.t-row h4{
   
    height:3em; 
    color: #EDEDED;
    background-color: #C92C6D;
    opacity: 0.8;


@media screen and(max-width:1200px) {
    main{
        min-height: auto; 
     }
}